.header__lang-link:first-of-type {
    margin-right: 18px;
}

.header__lang-link:hover {
    opacity: .8;
    transition: .3s linear;
}

.header__lang-link {
    text-decoration: none;
    color: #fff;
}