.photo-grid {
    width: calc(100% - 2*48px);
    max-width: 1184px;
    margin: 92px auto 0;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        max-width: 720px;
        width: calc(100% - 2*24px);
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        min-width: 288px;
        width: calc(100% - 2*16px);
        margin-top: 64px;
    }
}