.places {
    margin: 92px auto;
    width: calc(100% - 2*148px);
}

@media screen and (max-width: 1279px) {
    .places {
        width: calc(100% - 2*48px);
    }
}

@media screen and (max-width: 1023px) {
    .places {
        width: calc(100% - 2*24px);
    }
}

@media screen and (max-width: 767px) {
    .places {
        margin: 64px auto 0;
        width: 100%;
    }
} 