.header__lang-links {
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.17;
    display: flex;
}

@media screen and (max-width: 767px) {
    .header__lang-links {
        font-size: 18px;
        line-height: 1.11;
    }
}